<%= form_for [@project, @entry] do |f|  %>

	<div class="options">
		<div class="field">
			<% if @goal.metric_id == nil || @goal.metric_id == 5 %>
			<% else %>
			    <%= f.label :amount_of, "Amount of #{@entry.goal.metric_type_is} written" %> 
			    <%= f.number_field :amount_done %>
			<% end %>
		</div>

		<div class="field">
		    <%= f.label :duration %>
		    <%= f.text_field :duration, value: @entry.duration %>
		</div>
	</div>
	

	<div class="field">
	    <%= f.label :journal %>
	    <%= f.text_area(:journal, cols: 40, rows: 10, :required => true) %>
	</div>
	<%= f.submit "Done"%>

<% end %>

<%= link_to 'Delete this entry', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>
