<article>
	<div class="breadcrumb">
	  <%= link_to 'Dashboard', home_index_path %>
	  <%= link_to 'All Projects', projects_path %>
	  <%= link_to 'Project Details', project_goals_path(@goal.project) %>
	  <%= link_to 'Goal Details', goal_path(@goal) %>
	</div>
<h1>"<em><%= @project.name %></em>"</h1>
<h3><%= @goal.type_is.capitalize %></h3>
<h4>New Entry</h4>

<style type="text/css">
	.clock {
		/* width: 350px; */
	}
	.duration {
		display: none;
	}

</style>

<%= form_for [@project, @entry] do |f|  %>

	<div class="duration">
	    <%= f.label :duration %><br>
	    <%= f.text_field :duration %>
	</div>
<p>&nbsp;</p>
	<div class="clock"></div>

<span class="pause"><button name="playpause" type="button">Pause</button></span> |
	<%= f.hidden_field(:goal_id, :value => @goal.id) %>
	<%= f.submit  data: { confirm: 'Are you done writing?' } %> | <div class="button"><%= link_to "Cancel", project_goals_path(@project) %></div>
<% end %>

 


<script>


</script>