	<div class="mask" >
		<div class="clock"></div>
	</div>

	<%= form_for [@project, @entry] do |f|  %>

		<div class="duration">
		    <%= f.label :duration %><br>
		    <%= f.text_field :duration %>
		</div>

		<p>&nbsp;</p>
	
	

		<div class="timer-buttons">
			<span class="pause">
				<button name="playpause" type="button">Pause</button>
			</span> |
			<%= f.hidden_field(:goal_id, :value => @goal.id) %>
			<%= f.submit  data: { confirm: 'Are you done writing?' }, class: "timer" %> | 
			<div class="entry-button"><%= link_to "Cancel", project_goals_path(@project), data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
		
	<% end %>
