
<h2>New Entry for <%= @goal.type_is %> on "<em><%= @project.name %></em>"</h2>


<style type="text/css">
	.clock {
		/* width: 350px; */
	}
	.duration {
		display: none;
	}

</style>

<%= form_for [@project, @entry] do |f|  %>

	<div class="duration">
	    <%= f.label :duration %><br>
	    <%= f.text_field :duration %>
	</div>
<p>&nbsp;</p>
	<div class="clock"></div>

<span class="pause"><button name="playpause" type="button">Pause</button></span> |
	<%= f.hidden_field(:goal_id, :value => @goal.id) %>
	<%= f.submit  data: { confirm: 'Are you done writing?' } %>
<% end %>

<p> <%= link_to "Cancel", project_path(@project) %></p>


<script>


</script>