
<h3>Entry from <%= @entry.created_at.strftime("%A, %b %d") %></h3> 
<p><strong>Time Started:</strong> <%= @entry.made_on %></p>

<% if @entry.amount_done %>
	<%= @entry.amount_done %> <%= @entry.goal.metric_type_is %> written<br>
<% end %>
<% if @entry.duration %>
	<strong>Total time:</strong> <%= @entry.duration %><br>
<% else %>
	<strong>Total Time:</strong> No time recorded<br>
<% end %>
<strong>Journal: </strong>
<fieldset>	
	<% if @entry.journal %>
		<%= markdown(@entry.journal) %>
	<% end %>
</fieldset>



<p><%= link_to 'Edit', edit_entry_path %> | <%= link_to 'Delete', @entry, method: :delete, data: {confirm: 'Are you sure?'}  %></p>