<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :genre_id %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :writing_goal %>
    I want to write <%= f.number_field :desired_amount %> <%= f.select :track_hours, options_for_select([['times', false], ['hours', true]]) %> per <%= f.select :desired_interval, options_for_select([['day', 1], ['week', 7], ['month', 30]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
