<article class="article">

  <p>&nbsp;</p>

  <ul class="accordion-tabs">
    <li class="tab-header-and-content">
      <a href="#" class="is-active tab-link">Profile</a>
      <div class="tab-content">
        Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, n
        <p><strong>Name:</strong>
            <%= best_in_place @user, :name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %> <%# best_in_place @user, :email, :type => :input %>

        </p>
        <p>
          <strong>Location:</strong>
          <%= @user.location %>
        </p>
        <p>
          <strong>Kinds of Writing:</strong>
          <%= @user.tag_list %>
        </p>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Settings</a>
      <div class="tab-content">
        <p>
         <strong>
          I want to write</strong> <strong> <%= @user.desired_amount %> </strong>
          <%= @user.hours_or_times %> per <strong> <%= @user.desired_timeframe %></strong>.
          <% if @user.am_writing? == true %>
            I am writing!
          <% else %>
            I need to write more.
          <% end%>   
    
        Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Deadlines</a>
      <div class="tab-content">
        <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.

        <p>Upcoming Deadlines
        
                Projects
        
                <% if @user.projects %>
                
                    <% @user.deadlines.each do |project| %>
        
                    <%= project.name  %> | <%= project.deadline %>
                    <% end %>
                
                <% end %></p></p>    
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Stats</a>
      <div class="tab-content">
        <p>You have spent <%= @user.total_time_writing_this_week %> writing this week. </p>
        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
      </div>
    </li>
  </ul>



  <%= link_to 'My Projects', projects_path(@project) %> |
  <%= link_to 'Edit My Profile', edit_user_path(@user) %> 

</article>

<section class="stats">
      <div class="quotes">
        <h3>“You can't wait for inspiration. You have to go after it with a club.”  </h3>
        <p>&ndash; Jack London</p>
      </div>
  </section>
