<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :project_type %>
    <%= f.select :project_type_id, options_from_collection_for_select(ProjectType.all, :id, :name, "#{@project.project_type_id}") %>
  </div>


  <div class="field">
   <%# aasm_states_array = [['Active', 'active' ], ['Archived', 'archived']] %>
   <%# f.label :status %>
   <%# f.select :aasm_state,  options_for_select(aasm_states_array) %>
  </div>

  <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
  </div>
  <div class="field">
      <%= f.label :deadline %>
      <%= f.date_field :deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
