<h1>Listing projects</h1>

<% if @current_user.entries.empty? %> 
  <% else %>
    <div class="stats">
      <h3>Stats</h3>
        <p>You've spent <%= distance_of_time_in_words(current_user.total_time_writing) %> writing</em></p>
    </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.type_is %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'Dashboard', home_index_path %> | <%= link_to 'New Project', new_project_path %>
