<article class="article">
  <div class="breadcrumb">
    <%= link_to 'Dashboard', home_index_path %>
  </div>

  <h1>Listing projects</h1>

  <table class="table-minimal">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.type_is %></td>
            <td><span class="cute"><%= link_to 'Show', project_goals_path(project) %></span><span class="cute"><%= link_to 'Edit', edit_project_path(project) %></span></td>
          </tr>
      <% end %>
    </tbody>
  </table>  
  <div class="button"><%= link_to 'New Project', new_project_path %></div>
</article>


<section class="stats">
  <% if @current_user.entries.empty? %> 
    <% else %>
      <div>
        <h3>Stats</h3>
          <p>You've spent <%= distance_of_time_in_words(current_user.total_time_writing) %> writing</em></p>
      </div>
  <% end %>
</section>

