<h1>"<em><%= @project.name %></em>" Project Page </h1>
<p>
  <strong>Type:</strong>
  <%= @project.type_is %>
</p>


<% if @project.most_recent_goal == nil %>
	<%= "Let's make some goals" %>
	<%= render 'goals/goal' %>
<% else %>
	<strong>Most Recent Goal:</strong> <%= @project.most_recent_goal.type_is %> >>> <%= link_to "Continue!", new_project_entry_path(@project.id, :goal_id => @project.goals.last.id) %> <br>
<% end %>

<div class="stats">
	<h3>Stats</h3>
You've spent <%= @project.total_time_spent %> hours in total on "<em><%= @project.name %></em>"
</div>
<h4><%= link_to "Project Goal History", project_goals_path(@project) %></h4>

<%= link_to "Make a New Goal", new_project_goal_path(@project) %>





<p>&nbsp;</p>
<%= link_to 'Edit This Project', edit_project_path(@project) %> |
<%= link_to 'All my Projects', projects_path %>
