<table>
	<tr class="entry-list-header" >
		<th>Date</th>
		<th>Duration</th>
		<% if @goal.metric_id != 5 %>
			<th><%= @goal.metric_type_is.capitalize %> </th>
		<% end %>
		<th>Journal</th>
	</tr>
		<% @goal.entries.order("created_at desc").each do |entry| %>
		<tr>
			<td>
				<span class="edit-entry"><%= link_to entry.created_at.strftime("%b %e"), entry_path(entry) %> </span> 
			</td>
			<td>
				<p><%= entry.duration %></p> 
			</td>
			<% if @goal.metric_id != 5 %>
				<td>
					<p><%= entry.amount_done %></p>
				</td>
			<% end %>

			<td>
				<% if entry.journal %>
					<p><em><%= entry.journal.truncate(35) %></em></p>
				<% end %>
			</td>
			<!-- <td>
				<%# link_to 'View', entry_path(entry) %>
			</td> -->
		</tr>
	<% end %>
</table>