<%= form_for [@project, @goal] do |f| %>
	<% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
    <div class="field">
        <%= f.label :goal_type %> 

        <div class="draft-number">
            <%= f.select :goal_type_id, options_from_collection_for_select(GoalType.all, :id, :name, "#{@goal.goal_type_id}") %>
            <span id="conditional-draft-number">
                draft number <%= f.number_field :draft_number %>
            </span>
        </div>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_field :name %> 
  </div>
  <div class="field">
    <%= f.label :deadline %> 
    <%= f.date_field :deadline%> 
  </div>
<%# aasm_states_array = @goal.aasm.states.map(&:name) %>
  <div class="field">
   <%# f.label :status %>
   <%# f.select :aasm_state,  options_for_select(aasm_states_array) %>
  </div>

      <%= label_tag(:metric_check, "Track metrics") %> 
      <label class="metric-check">
      <%= check_box_tag(:metric_check) %> <div class="checkbox"></div>
      </label>
  
      <div class="goal-field-hide"> 
          <div class="goal-settings">
              To achieve this goal, I will write
              <%= f.number_field :metric_target %>
              <%= f.select :metric_id, options_from_collection_for_select(Metric.all, :id, :name, "#{@goal.metric_id}") %> <%= f.text_field :metric_name  %> 
          </div>
      </div>
  
  <% if @project == nil %>
      <%= f.hidden_field(:project_id, :value => @goal.project.id) %>
    <% else %>
      <%= f.hidden_field(:project_id, :value => @project.id) %>
  <% end %>
 <br>
  <%= f.submit %>

<% end %>
