<%= form_for [@project, @goal] do |f| %>
	<% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
      <%= f.label :goal_type %> 
      <%= f.select :goal_type_id, options_from_collection_for_select(GoalType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_field :name %> 
  </div>
  <div class="field">
    <%= f.label :deadline %> 
    <%= f.date_field :deadline%> 
  </div>

  <div class="field"> 
       
        <%= f.label :metrics %>
        I want to track <%= f.select :metric_id, options_from_collection_for_select(Metric.all, :id, :name, 1) %> on this goal.

        <%= f.label :target %>
        <%= f.number_field :metric_target %>
  
      </div>
  <%= f.hidden_field(:project_id, :value => @goal.project.id) %>

  <%= f.submit %>

<% end %>
