<div class="card">
  <div class="card-image goal">
      <h6 class="goal">Goal: <%= link_to goal.type_is.capitalize, goal_path(goal) %></h6> 
  </div>

  <div class="card-header">
    
  </div>

    <div class="card-copy">
      <% if goal.deadline %>
      <p>Deadline: <%= goal.deadline.strftime("%A, %b %d") %> </p>
    <% end %>
  </div>

  <div class="card-stats">
    <ul>
      <%= render :partial => "goal_stats", locals: {goal: goal} %>
    </ul>
    <ul class="edit-button">
      <li><span class="edit"><%= link_to 'View', goal_path(goal) %></span></li>
      <li ><span class="write-now"><%= link_to "Write Now!", new_project_entry_path(:project_id => goal.project_id, :goal_id => goal) %></span></li>
    </ul>
  </div>
</div>