<article class="article">
	<div class="breadcrumb">
	  <%= link_to 'Dashboard', home_index_path %>
	  <%= link_to 'All Projects', projects_path %>
	  <%= link_to 'Project History', project_goals_path(@goal.project) %>
	</div>

	<h1>"<em><%= @goal.project_name %></em>"</h1>

	<h3> <%= @goal.type_is.capitalize %> </h3>
	<ul>
		<li>Date Started: <%= @goal.created_at.strftime("%A, %b %d") %></li> 
		<li>Description: <%= @goal.name %></li>
			<% if @goal.deadline %>
				<ul>
					<li>Deadline: <%= @goal.deadline.strftime("%A, %b %d") %></li>
						<% if time_left(@goal.deadline) >= 0 %>
							<li>You have <%= time_left(@goal.deadline) %> days left.</li>
						<% else %>
							<li><strong>Your deadline is past due!</strong></li>
						<% end %>
				</ul>
			<% end %>
	</ul>

	<p><div class="write-button"><%= link_to "Write Now!", new_project_entry_path(:project_id => @goal.project_id, :goal_id => @goal) %></div> </p>

	<h4>Writing Entries </h4>
		<ul>
			<% @goal.entries.order("created_at desc").each do |entry| %>
			
				<li><em>Date:</em> <%= link_to entry.created_at.strftime("%b %e, %l:%M %p"), entry_path(entry) %> | <em><%= entry.duration %></em> | journal: &#<%= entry.journal? %>
					 (<%= link_to 'Edit', edit_entry_path(entry) %>) </li>
			<% end %>
		</ul>
</article>

<section class="stats">
	<% if @goal.entries.empty? %>
	<% else %>
		<div>
			<h3>Stats</h3>
				<p>You've spent <%= distance_of_time_in_words(@goal.total_time_spent) %> <%= @goal.type_is %>.</p>
				<p>Your time over the last 7 days: <span class="inlinesparkline"><%= @goal.spark_line %></span></p> 
		</div>
	<% end %>
	</section>