
<h1>Goal Page for <%= @goal.project_name %></h1>

<h2><%= @goal.name %></h2>
Type: <%= @goal.type_is %> <br>
Deadline: <%= @goal.amount %> <br>

<%= link_to "Start Writing!", new_project_entry_path(:project_id => @goal.project_id, :goal_id => @goal.id) %> <br>
<br>
<% @goal.entries.each do |entry| %>
	<%= entry.name %> <br>
	<%= entry.total_time %> <br>
	<hr>
<% end %>

<%= link_to "Back", project_path %>