<h1>"<em><%= link_to @goal.project_name, project_goals_path(@goal.project) %></em>"</h1>

<h3> > <%= @goal.type_is %> History </h3>
<ul>
	<li>Date Started: <%= @goal.created_at.strftime("%A, %b %d") %></li> 
	<li>Description: <%= @goal.name %></li>
		<% if @goal.deadline %>
			<ul>
			<li>Deadline: <%= @goal.deadline.strftime("%A, %b %d") %></li>
				<% if time_left(@goal.deadline) >= 0 %>
					<li>You have <%= time_left(@goal.deadline) %> days left.</li>
				<% else %>
					<li><strong>Your deadline is past due!</strong></li>
				<% end %>
			</ul>
		<% end %>

		<h4>Writing Entries </h4>
			<ul>
				<% @goal.entries.order("created_at desc").each do |entry| %>
				
					<li><em>Date:</em> <%= link_to entry.created_at.strftime("%b %e, %l:%M %p"), entry_path(entry) %> | <em>Duration:</em> <%= ChronicDuration.output(entry.duration.to_i) %> (<%= link_to 'Edit', edit_entry_path(entry) %>) </li>
				<% end %>
			</ul>
</ul>
<%= link_to "Dashboard", home_index_path %> | <%= link_to "To Project", project_goals_path(@goal) %> | <%= link_to "Edit Goal", edit_goal_path %>