<h3>Goal: <%= @goal.type_is %> "<em><%= @goal.project_name %></em>"</h3>

Date Started: <%= @goal.created_at.strftime("%A, %b %d") %> <br>
Description: <%= @goal.name %> <br>
Deadline: <%= @goal.amount %> <br>

<br>
<h3>Log Entries </h3>
<% @goal.entries.order("created_at desc").each do |entry| %>
	<strong>Date:</strong> <%= entry.created_at.strftime("%b %e, %l:%M %p") %> <br>
	<strong>Name:</strong> <%= entry.name %> <br>
	<strong>Total time:</strong> <%= entry.total_time %> <br>
	<%= link_to 'View Entry', entry_path(entry) %> | <%= link_to 'Edit this Entry', edit_entry_path(entry) %>
	<hr>
<% end %>

<%= link_to "Dashboard", home_index_path %> | <%= link_to "To Project", project_path(@goal.project) %> | <%= link_to "Edit Goal", edit_goal_path %>