<article class="article">
	<div class="breadcrumb">
	  <%= link_to 'Dashboard', home_index_path %>
	  <%= link_to 'My Projects', projects_path %>
	  <%= link_to 'Project', project_goals_path(@goal.project) %>
	  <%= link_to 'Goal', goal_path(@goal), class: "current-selection" %>
	</div>

	<h1 class="main-title">Goal Details</h1>

	<div class="card project">
    	<div class="card-image">
        	<h3 class="card-image title"><%= @goal.project.name %></h3> 
        </div>
        <div class="inner-project">
			<div class="card">
				<div class="card-image goal">
						<h6 class="goal"><%= @goal.type_is.capitalize %></h6> 

				</div>

				<div class="card-header">

					<% if @goal.deadline %>
						<p>Deadline: <%= @goal.deadline.strftime("%A, %b %d") %> </p>
					<% end %>
					
				</div>

				<div class="card-copy">
				Started: <%= @goal.created_at.strftime("%A, %b %d") %> <br>
				Description: <%= @goal.name %> <br>
				Your last 7 days: <span class="inlinesparkline"><%= @goal.spark_line %></span>
				</div>

				<div class="card-stats">
						<ul>
						<li><%= ChronicDuration.output(@goal.total_time_spent, :format => :short, :units => 2) %><span>Time Spent</span></li>
						<% if @goal.entries %>
							<li><%= @goal.entries.length %><span>Entries</span></li>
						<% end %>
						<!-- Deadline logic -->
						<% if @goal.deadline %>
							<% if time_left(@goal.deadline) > 0 %>
								<li><%= time_left(@goal.deadline) %><span>Days Left</span></li>
							<% elsif time_left(@goal.deadline) == 0 %>
								<li>Goal<span>Due Today!</span></li>
							<% elsif time_left(@goal.deadline) < 0 %>
								<li><%= time_left(@goal.deadline) * -1 %>d<span>Overdue!</span></li>
							<% end %>
						<% end %>
						</ul>

						<div class="progress-bar-indication">
  							<span class="meter" style="width: <%= @goal.progress %>%">
    							<p><%= @goal.progress %>%</p>
  							</span>
						</div>
				</div>

				<div class="small-write">
					<span class="write-now"><%= link_to "Write Now!", new_project_entry_path(:project_id => @goal.project_id, :goal_id => @goal) %></span>
					<div class="goal-edit"><span class="edit"><%= link_to 'Edit', edit_goal_path(@goal) %></span></div>
				</div>
				<div class="entries">
					<h5>Writing Entries </h5>
						<ul>
							<% @goal.entries.order("created_at desc").each do |entry| %>
								<div class="entry">
									<span class="edit"><%= link_to 'View', entry_path(entry) %></span> 
									<li> <%= link_to entry.created_at.strftime("%b %e"), entry_path(entry) %> &nbsp;<em>&nbsp; <%= entry.duration_long %></em> <br>
										<% if entry.journal %>
											<p><%= entry.journal.truncate(90) %></p>
										<% end %>
										
									</li>
									</div>
							<% end %>
						</ul>
				</div>
				
			</div>
	</div>
</article>

<section class="stats">
		<div class="quotes">
			<h3>“There is nothing to writing. All you do is sit down at a typewriter and bleed.” </h3>
			<p>&ndash; Ernest Hemingway</p>
		</div>
</section>