<!DOCTYPE html>
<html>
  <head>
    <title>Write Track.co</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag 'apple-touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'apple-touch-icon-ipad.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'touch-icon-iphone-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
    <%= favicon_link_tag 'touch-icon-ipad-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
  </head>

  <body>
    <div class="wrapper-for-content-outside-of-footer texture">
      <header class="navigation">
        <div class="navigation-wrapper">
          
             <%= link_to image_tag("writetrackmark.png", alt: "writetrack"), home_index_path, class: "logo" %><%= image_tag("writetracktext.png", alt: "get on the write track.", class: "secret")  %>
          
            <% if current_user %>
              <a href="" class="navigation-menu-button" id="js-mobile-menu">
              MENU</a>
              <%= link_to "Log Out", destroy_user_session_path(@user), :method => :delete, class: "sign-up secret" %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "log-in" %> or <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
            <% end %>
          <div class="nav">
            <ul id="navigation-menu">
              <% if current_user %>
                <li class="nav-link"><%= link_to 'Projects', projects_path %></li>
                <li class="nav-link"><%= link_to 'Settings', user_path(current_user) %></a></li>
                <li class="nav-link"><a href="javascript:void(0)">About</a></li>
                <li class="nav-link"> <%= link_to "Log Out", destroy_user_session_path(@user), :method => :delete, class: "inverted-secret" %></li>
                <% end %>
            </ul>
          </div>
        </div>
      </header>
    

    
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

      <div id="content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>  


      <div class="push"></div>
    </div>

    <footer class="footer-2">
      <div class="footer-logo">
        <%= image_tag("writetrackmarkfooter.png", alt: "writetrack") %>
      </div>
        <ul>
          <!-- <li><a href="javascript:void(0)">About</a></li> -->
          <li><a href="mailto:ward@minnis.net">Contact</a></li>
          <!-- <li><a href="javascript:void(0)">Products</a></li> -->
        </ul>

        <div class="footer-secondary-links">
          <ul>
            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>

          <ul class="footer-social">
            <li><a href="https://twitter.com/writetrackco">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
            </a></li>
          </ul>
        </div>

    </footer>
  </body>
</html>
